$text_color: #FAF9FA;



.home__banner{
    position: relative;
    background-image: url('../../core/assets/img/bannerHome.png'),;
    background-size: 100%;
    background-repeat: no-repeat;
}

.home__header{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    align-self: center;
    padding-top: 8.33px;
    padding-bottom: 8.33px;
    position: relative;
    width: 89% ;
    height: 68.68px;
    left: 5.5%;
    top: 16px;

    color: $text_color;

    font-weight: 500;
    font-size: 18px;
    line-height: 22px;


    :hover{
        text-decoration: underline;
        cursor: pointer ;
    }
    a{
        margin-right: 48px;
        :hover{
            text-decoration: underline;
        }
    }

    .logo{
        position: absolute;
        left: 0%;
        top: 0%;
        bottom: 0%;

        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0px 10px;
    }
    
        
    button{
        background-color: transparent;
        width: 133px;
        height: 100%;
        
        border: 2px solid #FAF9FA;
        border-radius: 16px;
        
        font-family: 'Montserrat-Bold';
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        
        text-align: center;
        
        color: $text_color;
        
    }
    
}

.home__bannerContent{
    position: relative;
    
    margin-top: 55.32px;
    width: 100%;

    z-index: 2;
    
    justify-content: center;
    text-align: center;
    align-items: center;
    color: $text_color;

    .title{
        
        font-family: 'Montserrat-Bold';
        font-style: normal;
        font-weight: bold;
        font-size: 54px;
        line-height: 66px;

        
        text-align: center;
        -webkit-text-stroke-color: black;
        -webkit-text-stroke-width: 1px;
    }

    .subtitle{
        margin-top: 8px;
        
        font-family: 'Montserrat-Bold';
        font-style: bold;
        font-weight: bold;
        font-size: 32px;
        line-height: 39px;

        
        -webkit-text-stroke: 1.1px black;
        
    }

    button{
        margin-top: 32px;
        justify-content: center;
        align-items: center;
        padding: 16px 34px;
        width: 384px;
        height: 52px;
        
        cursor: pointer;

        font-family: 'Montserrat-Bold';
        font-style: normal;
        font-size: 16px;
        line-height: 20px;

        text-align: center;

        color: $text_color;

        background: linear-gradient(135deg, #FD6585 0%, #0D25B9 100%);
        border: 1px solid #000000;
        box-sizing: border-box;
        box-shadow: 0px 8px 24px rgba(168, 78, 151, 0.15);
        border-radius: 16px;
    }

}

.home__aboutUs{

    display: grid;

    grid-template-columns: [first] 1fr [line2] auto [line3] 32px [line4] auto [line5] 1fr [end];
    grid-template-areas:
      ". upLine . . ."
      ". title title title ."
      ". . . downLine ."     
      "content content . logo logo";

    margin-top: 81px;
    margin-left: 75px;
    margin-right: 75px;

    .upLine{
        grid-area: upLine;
        justify-self: left;
        width: 103px;
        height: 0px;

        border: 1px solid #A84E97;
    }
    .downLine{
        grid-area: downLine;
        justify-self: right;
        width: 103px;
        height: 0px;

        border: 1px solid  #0D25B9;;
    }
    h2{
        grid-area: title;

        font-family: 'Montserrat-Bold';
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 49px;
        
        text-align: center;

        color: #33303E;
    }

    p{
        grid-area: content;
        
        margin-top: 42px;

        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;

        letter-spacing: 0.03em;

        color: #33303E;
    }

    .logo{
        grid-area: logo;

        margin-top: 42px;
        
        max-height: 400px;
        display: grid;
        
        align-items: center;
        justify-content: center;

        
        background: linear-gradient(135deg, #FD6585 0%, #0D25B9 100%);
        box-shadow: 0px 8px 24px rgba(168, 78, 151, 0.2);
        border-radius: 32px;

        img{
            justify-self: center;
            align-self: center;
        }
    }
}


.home__helpUs{
    
    margin-top: 20px;

    padding-left: 75px;
    padding-right: 75px;
        
    background-image: url('../../core/assets/img/helpUsBackground.png');
    
    display: grid;
    grid-template-columns: 1fr auto auto auto 1fr;
    grid-template-areas:
        ". upLine . . ."
        ". title title title ."
        ". . . downLine ."
        "illustrator illustrator verticalBar professor professor";

    
    .upLine{
        grid-area: upLine;

        margin-top: 171px;

        justify-self: left;
        width: 103px;
        height: 0px;

        border: 1px solid #A84E97;
    }
    .downLine{
        grid-area: downLine;
        margin-top: 8px;
        margin-bottom: 39px; 

        justify-self: right;
        width: 103px;
        height: 0px;

        border: 1px solid  #0D25B9;;
    }
    
    h2{
        grid-area: title;

        
               
        
        font-family: 'Montserrat-Bold';
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 49px;
        
        text-align: center;

        color: #33303E;
    }

    .illustrator{
        grid-area: illustrator;

        
        
        button{
            background: #A84E97;
            box-shadow: 0px 8px 24px rgba(168, 78, 151, 0.15);
        }
    }

    .verticalBar{
        grid-area: verticalBar;
        height: 305px;
        width: 0px;
        
        justify-self: center;

        
        border: 1px solid #C6C5CE;
    }

    .professor{        
        grid-area: professor;
        button{
            background: #0D25B9;
            box-shadow: 0px 8px 24px rgba(13, 37, 185, 0.15);
        }
    }
    
    .illustrator, .professor{
        
        display: flex;
        flex-direction: column;
        justify-items: center;


        h3{
            font-family: 'Montserrat-bold';
            font-size: 32px;
            line-height: 39px;

            text-align: center;

            color: #33303E;
        }

        p{
            
            margin-top: 16px;

            height: 111px;

            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 30px;

            
            text-align: center;
            letter-spacing: 0.03em;

            
            color: #33303E;
        }
        button{
            margin-top: 87px;
            margin-bottom: 109px;

            font-family: 'Montserrat-bold';
            font-size: 16px;
            line-height: 20px;
            align-self: center;
            justify-self: center;

            
            text-align: center;

            
            color: #FAF9FA;

            width: 384px;
            height: 52px;

            border-radius: 16px;

        }
        
    }

}

.home__footer{
    position:relative;
    display: grid;
    
    justify-items: center;
    
    width: 100%;
    height: 313px;
    bottom: 0%;
    
    
    background: linear-gradient(135deg, #FD6585 0%, #0D25B9 100%);



    p{
        align-self: end;
        font-family: 'Montserrat-Bold'; 
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        text-align: center;

        
        color: #FAF9FA;
    }

    button{
    
        width: 384px;
        height: 52px;
    
        margin-top: 24px;
        padding: 16px 34px;

        display: grid;
        justify-items: center;

        background: #FAF9FA;
        box-shadow: 0px 8px 24px rgba(250, 249, 250, 0.15);
        border-radius: 16px;

        font-style: normal;
        font-weight: bold;
        text-align: center;

        div{
            font-family: 'Montserrat-Bold';
            font-size: 16px;
            line-height: 20px;

            background: linear-gradient(135deg, #FD6585 0%, #0D25B9 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        
    }

    .logoFooter{
        position: absolute;

        right: 63px;
        bottom: 71px;
    }

    .emailFooter{
        position: absolute;
        right: 152px;
        bottom: 17px;
        
    }

    .instaFooter{
        position: absolute;
        right: 75px;
        bottom: 32px;

    }
}